#saved-items {
    padding-bottom: 2rem;
    padding-top: 2rem;

    .container {
        display: flex;
        flex-direction: column;

        @include xl {
            display: flex;
            flex-direction: row;
        }

        .account-nav {
            border-bottom: 1px solid rgb(147, 151, 173, 0.3);
            padding-bottom: 2rem;

            @include xl {
                width: 30%;
                height: 85vh;
                border-right: 1px solid rgb(147, 151, 173, 0.3);
                margin-right: 7rem;
                border-bottom: none;
            }

            .nav-image {
                padding-top: 3.5rem;
                display: flex;
                justify-content: center;
                align-items: center;
                margin-right: 1rem;

                img {
                }
            }

            .nav-name-info {
                display: flex;
                flex-direction: column;
                justify-content: center;
                align-items: center;
                margin-right: 1rem;

                h2 {
                    margin: 0;
                }

                p {
                    margin: 0;
                    margin-bottom: 1.5rem;
                }
            }

            .nav-buttons {
                display: grid;
                grid-template-columns: 1fr 1fr;
                margin-right: 1rem;
                gap: .2rem;

                @include xl {
                    display: flex;
                    flex-direction: column;
                }

                a {
                    display: flex;
                    justify-content: center;
                    font-weight: 700;
                    width: auto;


                    @include xl {
                        display: flex;
                        justify-content: flex-start;
                        font-weight: 700;
                    }
                }

                .btn-gray {
                    background-color: white;


                    &:hover {
                        background-color: #6366F1;
                    }
                }
            }
        }

        .saved-courses {
            width: 100%;

            .heading {
                justify-content: space-between;
                margin-bottom: 1rem;
                display: flex;
                align-items: center;

                h1 {
                    color: $gray-900;
                }

                button {
                    background-color: white;
                    border: 1px solid $danger;
                    color: $danger;
                    font-weight: 700;

                    &:hover {
                        background-color: $gray-500;
                        color: $gray-900;
                    }
                }
            }

            .course-grid {


                .course-item {
                    display: grid;
                    grid-template-columns: 1fr;
                    gap: 1rem;


                    @include lg {
                        grid-template-columns: 1fr 1fr;
                        gap: 1rem;
                    }

                    @include xxl {
                        grid-template-columns: 1fr 1fr;
                    }


                    .course-box {
                        display: flex;
                        flex-direction: column;
                        border-bottom-left-radius: 0.9rem !important;
                        border-bottom-right-radius: 0.9rem !important;
                        overflow: hidden;
                        text-decoration: none;

                        &:hover {
                            transition: all 0.15s ease-in-out;
                            cursor: pointer;
                            @include shadow-l;
                        }


                        .image-and-best {
                            position: relative;

                            .main-image {
                                width: 100%;
                                height: auto;
                                border-top-left-radius: 0.9rem !important;
                                border-top-right-radius: 0.9rem !important;
                                transition: transform 0.3s ease-in-out;
                            }

                            .trash {
                                background-color: $danger;
                                color: $gray-900;
                                position: absolute;
                                top: 1rem;
                                right: 1rem;
                                border-radius: 4rem;
                                width: 2rem;
                                height: 2rem;
                                border: none;

                                &:hover {
                                    background-color: darkred;
                                    color: white;
                                }

                                &:hover::before {
                                    content: attr(title);
                                    position: absolute;
                                    bottom: 50%;
                                    left: -190%;
                                    transform: translateX(-50%);
                                    background-color: black;
                                    color: $gray-500;
                                    padding: 5px 10px;
                                    border-radius: 5px;
                                    font-size: 12px;
                                    font-weight: 700;
                                    white-space: nowrap;
                                }
                            }

                            article {

                                .best {
                                    position: absolute;
                                    top: 1rem;
                                    left: 1rem;
                                }
                            }
                        }

                        &:hover .image-and-best {
                            .main-image {
                                transform: scale(1.1);
                            }
                        }


                        h2 {
                            padding: 1rem;
                            max-width: 80%;

                            @include lg {
                                max-width: 80%;
                            }
                        }

                        p {
                            padding-left: 1rem;
                        }

                        .price-and-discount {
                            display: flex;
                            font-weight: 700;


                            .discount {
                                margin-right: 1rem;
                                font-size: 18px;
                                color: $danger;
                            }

                            .price-crossed {
                                font-size: 16px;
                                text-decoration: line-through;
                            }

                            .price {
                                color: $theme;
                            }
                        }

                        .end-line {
                            display: flex;
                            justify-content: center;
                            align-content: center;
                            border-top: 1px solid $gray-500;
                            padding-bottom: 1.5rem;
                            margin-left: 1rem;
                            width: 90%;
                        }

                        .course-footer {
                            display: flex;
                            align-items: center;
                            padding-left: 1rem;
                            padding-bottom: 1rem;


                            .time {
                                display: flex;
                                align-items: center;

                                i {
                                    margin-right: .3rem;
                                }

                                p {
                                    margin: 0;
                                    margin-right: 2rem;
                                    padding: 0;
                                }
                            }
                        }

                        .likes {
                            display: flex;
                            align-items: center;

                            i {
                                margin-right: .3rem;
                            }

                            p {
                                margin: 0;
                                padding: 0;
                            }
                        }
                    }
                }
            }
        }
    }
}

.dark-mode {
    #saved-items {
        padding-bottom: 2rem;
        padding-top: 2rem;
        background-color: $gray-900;

        .container {
            display: flex;
            flex-direction: column;

            @include xl {
                display: flex;
                flex-direction: row;
            }

            .account-nav {
                border-bottom: 1px solid rgb(147, 151, 173, 0.3);
                padding-bottom: 2rem;

                @include xl {
                    width: 30%;
                    height: 85vh;
                    border-right: 1px solid rgb(147, 151, 173, 0.3);
                    margin-right: 7rem;
                    border-bottom: none;
                }

                .nav-image {
                    padding-top: 3.5rem;
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    margin-right: 1rem;

                    img {
                        padding-right: 2rem;
                        padding-left: 2rem;
                    }
                }

                .nav-name-info {
                    display: flex;
                    flex-direction: column;
                    justify-content: center;
                    align-items: center;
                    margin-right: 1rem;

                    h2 {
                        margin: 0;
                        color: $gray-300;
                    }

                    p {
                        margin: 0;
                        margin-bottom: 1.5rem;
                        color: $gray-500;
                    }
                }

                .nav-buttons {
                    display: grid;
                    grid-template-columns: 1fr 1fr;
                    margin-right: 1rem;
                    gap: .2rem;


                    @include xl {
                        display: flex;
                        flex-direction: column;
                    }

                    a {
                        display: flex;
                        justify-content: center;
                        font-weight: 700;
                        width: auto;


                        @include xl {
                            display: flex;
                            justify-content: flex-start;
                            font-weight: 700;
                        }
                    }

                    .btn-gray {
                        background-color: $gray-900;
                        color: $gray-300;


                        &:hover {
                            background-color: #6366F1;
                        }
                    }
                }
            }

            .saved-courses {
                width: 100%;

                .heading {
                    display: flex;
                    justify-content: space-between;
                    margin-bottom: 1rem;
                    align-items: center;


                    h1 {
                        color: $gray-300;
                    }

                    .delete-button {
                        form {

                            button {
                                background-color: $gray-900;
                                border: 1px solid $danger;
                                color: $danger;
                                font-weight: 700;

                                &:hover {
                                    background-color: $gray-500;
                                    color: $gray-900;
                                }
                            }
                        }
                    }
                }

                .course-grid {

                    .course-item {
                        display: grid;
                        grid-template-columns: 1fr;
                        gap: 1rem;

                        @include lg {
                            grid-template-columns: 1fr 1fr;
                            gap: 1rem;
                        }

                        @include xxl {
                            grid-template-columns: 1fr 1fr;
                        }

                        .course-box {
                            display: flex;
                            flex-direction: column;
                            background-color: black;
                            overflow: hidden;
                            border-bottom-left-radius: 15px !important;
                            border-bottom-right-radius: 15px !important;
                            text-decoration: none;

                            &:hover {
                                cursor: pointer;
                                @include theme-shadow;
                            }

                            .image-and-best {
                                position: relative;

                                .main-image {
                                    width: 100%;
                                    height: auto;
                                    border-top-left-radius: 0.9rem !important;
                                    border-top-right-radius: 0.9rem !important;
                                    transition: transform 0.3s ease-in-out;
                                }

                                .bookmark {
                                    background-color: white;
                                    color: $gray-900;
                                    position: absolute;
                                    top: 1rem;
                                    right: 1rem;
                                    border-radius: 4rem;
                                    width: 2rem;
                                    height: 2rem;
                                    border: none;

                                    &:hover {
                                        background-color: $theme;
                                        color: white;
                                    }

                                    &:hover::before {
                                        content: attr(title);
                                        position: absolute;
                                        bottom: 50%;
                                        left: -190%;
                                        transform: translateX(-50%);
                                        background-color: black;
                                        color: $gray-500;
                                        padding: 5px 10px;
                                        border-radius: 5px;
                                        font-size: 12px;
                                        font-weight: 700;
                                        white-space: nowrap;
                                    }
                                }

                                article {
                                    .best {
                                        position: absolute;
                                        top: 1rem;
                                        left: 1rem;
                                    }
                                }
                            }

                            &:hover .image-and-best {
                                .main-image {
                                    transform: scale(1.1);
                                }
                            }
                        }

                        h2 {
                            padding: 1rem;
                            max-width: 80%;
                            color: $gray-300;

                            @include lg {
                                max-width: 80%;
                            }
                        }

                        p {
                            padding-left: 1rem;
                            color: $gray-500;
                        }

                        .price-and-discount {
                            display: flex;
                            font-weight: 700;


                            .discount {
                                margin-right: 1rem;
                                font-size: 18px;
                                color: $danger;
                            }

                            .price-crossed {
                                font-size: 16px;
                                text-decoration: line-through;
                                color: $gray-500;
                            }

                            .price {
                                color: $theme;
                            }
                        }

                        .end-line {
                            display: flex;
                            justify-content: center;
                            align-content: center;
                            border-top: 1px solid $gray-300;
                            padding-bottom: 1.5rem;
                            margin-left: 1rem;
                            width: 90%;
                        }

                        .course-footer {
                            display: flex;
                            align-items: center;
                            padding-left: 1rem;
                            padding-bottom: 1rem;


                            .time {
                                display: flex;
                                align-items: center;

                                i {
                                    margin-right: .3rem;
                                }

                                p {
                                    margin: 0;
                                    margin-right: 2rem;
                                    padding: 0;
                                }
                            }
                        }

                        .likes {
                            display: flex;
                            align-items: center;

                            i {
                                margin-right: .3rem;
                            }

                            p {
                                margin: 0;
                                padding: 0;
                            }
                        }
                    }
                }
            }
        }
    }
}
