#courses {
    padding-top: 2rem;
    padding-bottom: 2rem;

    .container {


        .nav-links {

            a {
                color: #9397ad;
                text-decoration: none;
            }

            .home {

                i {
                    margin-right: .2rem;
                }
            }

            .navcourses {
                color: $theme;
            }
        }

        .heading {
            display: flex;
            justify-content: space-between;
            align-items: baseline;

            h1 {
            }

            .search {


                select {
                    padding: .5rem;
                }

                input {
                    position: relative;
                    padding: .5rem;
                    margin: 0;
                    line-height: 0;
                }

                button {
                    display: none;

                    i {
                    }
                }
            }
        }

        .course-grid {


            .course-item {
                display: grid;
                grid-template-columns: 1fr;
                gap: 1rem;


                @include lg {
                    grid-template-columns: 1fr 1fr;
                    gap: 1rem;
                }

                @include xxl {
                    grid-template-columns: 1fr 1fr 1fr;
                }


                .course-box {
                    display: flex;
                    flex-direction: column;
                    border-bottom-left-radius: 0.9rem !important;
                    border-bottom-right-radius: 0.9rem !important;
                    overflow: hidden;
                    text-decoration: none;

                    &:hover {
                        transition: all 0.15s ease-in-out;
                        cursor: pointer;
                        @include shadow-l;
                    }


                    .image-and-best {
                        position: relative;

                        .main-image {
                            width: 100%;
                            height: auto;
                            border-top-left-radius: 0.9rem !important;
                            border-top-right-radius: 0.9rem !important;
                            transition: transform 0.3s ease-in-out;
                        }

                        .bookmark {
                            background-color: white;
                            color: $gray-900;
                            position: absolute;
                            top: 1rem;
                            right: 1rem;
                            border-radius: 4rem;
                            width: 2rem;
                            height: 2rem;
                            border: none;



                            &:hover {
                                background-color: $theme;
                                color: white;
                            }

                            &:hover::before {
                                content: attr(title);
                                position: absolute;
                                bottom: 50%;
                                left: -150%;
                                transform: translateX(-50%);
                                background-color: black;
                                color: $gray-500;
                                padding: 5px 10px;
                                border-radius: 5px;
                                font-size: 12px;
                                font-weight: 700;
                                white-space: nowrap;
                            }
                        }

                        .bookmark.saved {
                            background-color: $theme;
                            color: white;
                        }

                        article {

                            .best {
                                position: absolute;
                                top: 1rem;
                                left: 1rem;
                            }
                        }
                    }

                    &:hover .image-and-best {
                        .main-image {
                            transform: scale(1.1);
                        }
                    }


                    h2 {
                        padding: 1rem;
                        max-width: 80%;

                        @include lg {
                            max-width: 90%;
                        }
                    }

                    p {
                        padding-left: 1rem;
                    }

                    .price-and-discount {
                        display: flex;
                        font-weight: 700;

                        .discount {
                            margin-right: 1rem;
                            font-size: 18px;
                            color: $danger;
                        }

                        .price-crossed {
                            font-size: 16px;
                            text-decoration: line-through;
                        }

                        .price {
                        }
                    }

                    .end-line {
                        display: flex;
                        justify-content: center;
                        align-content: center;
                        border-top: 1px solid $gray-500;
                        padding-bottom: 1.5rem;
                        margin-left: 1rem;
                        width: 90%;
                    }

                    .course-footer {
                        display: flex;
                        align-items: center;
                        padding-left: 1rem;
                        padding-bottom: 1rem;


                        .time {
                            display: flex;
                            align-items: center;

                            i {
                                margin-right: .3rem;
                            }

                            p {
                                margin: 0;
                                margin-right: 2rem;
                                padding: 0;
                            }
                        }
                    }

                    .likes {
                        display: flex;
                        align-items: center;

                        i {
                            margin-right: .3rem;
                        }

                        p {
                            margin: 0;
                            padding: 0;
                        }
                    }
                }
            }
        }

        .pagination {
            margin-top: 2rem;
            display: flex;
            justify-content: center;
            align-items: center;


            .pagination-list {
                display: flex;
                list-style: none;


                .pagination-item {

                    a {
                        color: $theme;
                        text-decoration: none;
                        padding: .5rem;
                        margin: .5rem;
                        border-radius: 5px;
                        transition: all 0.3s ease-in-out;
                    }

                    a:hover {
                        background-color: $theme;
                        color: white;
                    }

                    &.active {
                        a {
                            background-color: $theme;
                            color: white;
                        }
                    }
                }
            }
        }
    }
}

.dark-mode {
    #courses {
        padding-top: 2rem;
        background-color: $gray-900;

        .container {


            .nav-links {

                a {
                    color: #9397ad;
                    text-decoration: none;
                }

                .home {

                    i {
                        margin-right: .2rem;
                    }
                }

                .navcourses {
                    color: $theme;
                }
            }

            .heading {
                display: flex;
                justify-content: space-between;
                align-items: baseline;

                h1 {
                    color: $gray-300;
                }

                .search {


                    select {
                        padding: .5rem;
                    }

                    input {
                        position: relative;
                        padding: .5rem;
                        margin: 0;
                        line-height: 0;
                    }

                    button {
                        display: none;

                        i {
                        }
                    }
                }
            }

            .course-grid {


                .course-item {
                    display: grid;
                    grid-template-columns: 1fr;
                    gap: 1rem;


                    @include lg {
                        grid-template-columns: 1fr 1fr;
                        gap: 1rem;
                    }

                    @include xxl {
                        grid-template-columns: 1fr 1fr 1fr;
                    }


                    .course-box {
                        display: flex;
                        flex-direction: column;
                        background-color: black;
                        overflow: hidden;
                        border-bottom-left-radius: 15px !important;
                        border-bottom-right-radius: 15px !important;
                        text-decoration: none;

                        &:hover {
                            cursor: pointer;
                            @include theme-shadow;
                        }

                        .image-and-best {
                            position: relative;

                            .main-image {
                                width: 100%;
                                height: auto;
                                border-top-left-radius: 0.9rem !important;
                                border-top-right-radius: 0.9rem !important;
                                transition: transform 0.3s ease-in-out;
                            }

                            .bookmark {
                                background-color: white;
                                color: $gray-900;
                                position: absolute;
                                top: 1rem;
                                right: 1rem;
                                border-radius: 4rem;
                                width: 2rem;
                                height: 2rem;
                                border: none;

                                &:hover {
                                    background-color: $theme;
                                    color: white;
                                }

                                &:hover::before {
                                    content: attr(title);
                                    position: absolute;
                                    bottom: 50%;
                                    left: -150%;
                                    transform: translateX(-50%);
                                    background-color: black;
                                    color: $gray-500;
                                    padding: 5px 10px;
                                    border-radius: 5px;
                                    font-size: 12px;
                                    font-weight: 700;
                                    white-space: nowrap;
                                }
                            }

                            .bookmark.saved {
                                background-color: $theme;
                                color: white;
                            }

                            article {
                                .best {
                                    position: absolute;
                                    top: 1rem;
                                    left: 1rem;
                                }
                            }
                        }

                        &:hover .image-and-best {
                            .main-image {
                                transform: scale(1.1);
                            }
                        }
                    }

                    h2 {
                        padding: 1rem;
                        max-width: 80%;
                        color: $gray-300;

                        @include lg {
                            max-width: 90%;
                        }
                    }

                    p {
                        padding-left: 1rem;
                        color: $gray-500;
                    }

                    .price-and-discount {
                        display: flex;
                        font-weight: 700;

                        .discount {
                            margin-right: 1rem;
                            font-size: 18px;
                            color: $danger;
                        }

                        .price-crossed {
                            font-size: 16px;
                            text-decoration: line-through;
                        }

                        .price {
                        }
                    }

                    .end-line {
                        display: flex;
                        justify-content: center;
                        align-content: center;
                        border-top: 1px solid $gray-300;
                        padding-bottom: 1.5rem;
                        margin-left: 1rem;
                        width: 90%;
                    }

                    .course-footer {
                        display: flex;
                        align-items: center;
                        padding-left: 1rem;
                        padding-bottom: 1rem;


                        .time {
                            display: flex;
                            align-items: center;

                            i {
                                margin-right: .3rem;
                            }

                            p {
                                margin: 0;
                                margin-right: 2rem;
                                padding: 0;
                            }
                        }
                    }

                    .likes {
                        display: flex;
                        align-items: center;

                        i {
                            margin-right: .3rem;
                        }

                        p {
                            margin: 0;
                            padding: 0;
                        }
                    }
                }
            }

            .pagination {
                margin-top: 2rem;
                display: flex;
                justify-content: center;
                align-items: center;


                .pagination-list {
                    display: flex;
                    list-style: none;


                    .pagination-item {

                        a {
                            color: $theme;
                            text-decoration: none;
                            padding: .5rem;
                            margin: .5rem;
                            border-radius: 5px;
                            transition: all 0.3s ease-in-out;
                        }

                        a:hover {
                            background-color: $theme;
                            color: white;
                        }

                        &.active {
                            a {
                                background-color: $theme;
                                color: white;
                            }
                        }
                    }
                }
            }
        }
    }
}
