#apps {
    background-color: #F3F6FF;
    padding-top: 5rem;
    padding-bottom: 5rem;


    .section-apps{

        .container{
            display: flex;

            .apps-image{
                display: none;

                @include lg {
                    display: block;
                }
                img {
                    width: 100%;
                    height: 100%;
                }
            }

            .apps-content{
                display: flex;
                flex-direction: column;
                padding-left: 7rem;

                h1 {
                    padding-top: 4rem;
                    padding-bottom: 2.5rem;
                    
                }

                .apps-info{

                    display: grid;
                    grid-template-areas: "store empty"
                                        "stars empty"
                                        "h2 img"
                                        "rating img";


                    
                    .store {
                        margin: 0;
                        grid-area: store;
                    }

                    .stars{
                        grid-area: stars;
                        color: $warning;
                    }

                    .h4{
                        margin-top: 0.5rem;
                        margin-bottom: 0;
                        grid-area: h2;
                    }

                    .rating{
                        grid-area: rating;
                    }

                    a{
                        grid-area: img;
                        margin-bottom: 0;
                        margin-top: 1rem;
                    }




                }
            }
        }
    }
}

.dark-mode {
    #apps {
        background-color: $gray-900;
        padding-top: 5rem;
        padding-bottom: 5rem;


        .section-apps {

            .container {
                display: flex;

                .apps-image {
                    display: none;

                    @include lg {
                        display: block;
                    }

                    img {
                        width: 100%;
                        height: 100%;
                    }
                }

                .apps-content {
                    display: flex;
                    flex-direction: column;
                    padding-left: 7rem;

                    h1 {
                        padding-top: 4rem;
                        padding-bottom: 2.5rem;
                        color:$gray-300;
                    }

                    .apps-info {
                        display: grid;
                        grid-template-areas: "store empty" "stars empty" "h2 img" "rating img";

                        p{
                           color: $gray-500;
                        }


                        .store {
                            margin: 0;
                            grid-area: store;

                        }

                        .stars {
                            grid-area: stars;
                            color: $warning;
                        }

                        .h4 {
                            margin-top: 0.5rem;
                            margin-bottom: 0;
                            grid-area: h2;
                            color: $gray-300;
                        }

                        .rating {
                            grid-area: rating;
                        }

                        a {
                            grid-area: img;
                            margin-bottom: 0;
                            margin-top: 1rem;
                        }
                    }
                }
            }
        }
    }
}