#not-found {
    padding-top: 5rem;
    padding-bottom: 5rem;

    .container {
        display: flex;
        flex-direction: column;
        justify-content: center;
        text-align: center;

        .notfound-image {


            img {
                height:100%;
                width:50%;
                }

        .not-found-btn {
            display: flex;
            justify-content: center;
            }
        }
    }
}
