
#showcase-singlecourse {
    position: relative;
    padding-bottom: 80px;


    div {
        position: relative;


        .background-image {
            position: absolute;
            width: 100%;
            max-height: 677px;
            object-fit: cover;
            opacity: 0.4;
            top: 0;
        }
    }

    .container {

        .links {
            display: none;
            align-items: center;

            @include md {
                display: flex;
                gap: 10px;
                align-items: center;
                margin: 0 0 0 10px;
            }

            @include lg {
                display: flex;
                gap: 10px;
                align-items: center;
                padding: 40px 0 0 0;
            }

            .white-link {
                color: $gray-200;
                font-size: 14px;
            }
        }

        .icons {
            margin: 25px 0 0 0;

            @include md {
                margin: 30px 0 0 0;
            }

            @include lg {
                margin: 30px 0 0 0;
            }

            @include xl {
                margin: 70px 0 0 0;
            }
        }

        .content {

            h1 {

                @include h6;
                color: #FFFFFF;
                margin: 10px 0 0 0;

                @include md {

                    @include h3;
                    color: #FFFFFF;
                    margin: 10px 0 10px 0;
                }

                @include lg {

                    @include h1;
                    color: #FFFFFF;
                    margin: 10px 0 10px 0;
                }
            }

            .info {
                font-size: 8px;
                color: $gray-200;

                @include md {

                    @include text-lg;
                    color: $gray-200;
                    margin: 0 0 16px 0;
                }

                @include lg {
                    margin: 0 0 5px 0;
                }
            }
        }

        .comments {
            display: none;


            @include md {
                display: flex;
                align-items: baseline;
                gap: 20px;
            }

            @include xl {
                margin: 50px 0 0 0;
            }

            div {
                display: flex;
                align-items: baseline;
                gap: 5px;

                span {
                    color: $warning;
                    font-size: 0.7rem;
                }
            }

            .left {
                border-right: 1px solid $gray-200;
            }

            p {

                @include text-xs;
                color: $gray-200;

                @include md {

                    @include text-s;
                    color: $gray-200;
                }
            }

            .right {
                border-right: 1px solid $gray-200;
            }
        }

        .author {
            display: none;

            @include lg {
                display: flex;
                align-items: center;
                gap: 15px;
            }

            @include xxl {
                margin: 40px 0 110px 0;
            }

            .title-name {
                margin: 15px 0 0 0;

                .title {
                    font-weight: 800;
                    color: $gray-200;
                    margin: 0;
                }

                .name {
                    margin: 0 0 20px 0;
                    font-weight: 600;
                    color: $gray-200;
                }
            }
        }
    }
}
