

#author {
    padding-top: 2rem;

    .container {

        .author-content {
            display: flex;
            flex-direction: column-reverse;
            position: relative;

            @include xl {
                display: flex;
                flex-direction: row;
            }

            .author-image {
                width: 50%;
                height: auto;
                justify-self: flex-start;
                z-index: 2;

                @include xl{
                    width:100%;
                    height:100%;
                }
            }

            .lines {
                width: 100%;
                height: auto;
                justify-self: flex-start;
                z-index: 1;
                position: absolute;
                top: 0;
                left: 0;
                display: none;

                @include xl {
                    display: block;
                }
            }


            .author-info {
                z-index: 3;

                @include xl {
                    padding-top: 5rem;
                    padding-left: 5rem;
                }

                h5 {
                }

                h1 {
                }

                p {
                }

                .buttons {
                    display: flex;
                    gap: 1rem;
                    padding-top: 2rem;
                    padding-bottom: 2rem;

                    @include xl {
                    }

                    .btn-theme {
                        background: $danger;
                        color: $gray-900;
                        font-weight: 700;

                        &:hover {
                            background: $gray-500;
                        }
                    }

                    .facebook {
                        background: $theme;
                    }
                }
            }
        }
    }
}

.dark-mode {
    #author {
        padding-top: 2rem;
        background-color:black;

        .container {

            .author-content {
                display: flex;
                flex-direction: column-reverse;
                position: relative;

                @include xl {
                    display: flex;
                    flex-direction: row;
                }

                .author-image {
                    width: 50%;
                    height: auto;
                    justify-self: flex-start;
                    z-index: 2;

                    @include xl {
                        width: 100%;
                        height: 100%;
                    }
                }

                .lines {
                    width: 100%;
                    height: auto;
                    justify-self: flex-start;
                    z-index: 1;
                    position: absolute;
                    top: 0;
                    left: 0;
                    display: none;

                    @include xl {
                        display: block;
                    }
                }


                .author-info {
                    z-index: 3;

                    @include xl {
                        padding-top: 5rem;
                        padding-left: 5rem;
                    }

                    h5 {
                        color:$gray-300;
                    }

                    h1 {
                        color:$gray-300;
                    }

                    p {
                        color: $gray-500;
                    }

                    .buttons {
                        display: flex;
                        gap: 1rem;
                        padding-top: 2rem;
                        padding-bottom: 2rem;

                        @include xl {
                        }

                        .btn-theme {
                            background: $danger;
                            color: $gray-900;
                            font-weight: 700;

                            &:hover {
                                background: $gray-500;
                            }
                        }

                        .facebook {
                            background: $theme;
                        }
                    }
                }
            }
        }
    }
}
