@model SignInViewModel;

@{
    ViewData["Title"] = Model.Title;
}


<section id="signin">
    <div class="container">
        <form class="signin-form" method="post" asp-controller="Auth" asp-action="SignIn" novalidate>
            <h1>Welcome Back</h1>
            <p>Don't have an account yet?<a asp-controller="Auth" asp-action="SignUp">Sign up here.</a></p>

            <div class="content">
                <div id="form-email" class="input-group">
                    <label asp-for=Form.Email></label>
                    <span asp-validation-for="Form.Email"></span>
                    <input asp-for="Form.Email" />
                </div>

                <div id="form-password" class="input-group">
                    <label asp-for=Form.Password></label>
                    <span asp-validation-for="Form.Password"></span>
                    <input asp-for="Form.Password" />
                </div>

                <div id="form-remember" class="checkbox-group">
                    <input asp-for=Form.RememberMe />
                    <label asp-for="Form.RememberMe">
                        <span>Remember Me</span>
                    </label>

                    <span asp-for="Form.RememberMe"></span>
                </div>

            </div>

            <button class="btn-theme" type="submit">@Model.Title</button>

            <a class="get-password" asp-controller="Account" asp-action="Retrive">Forgot you password?</a>


            <div class="social-login">
                <h2 class="h6">Or sign in with your social network</h2>
                <div class="social-buttons">
                    <a asp-controller="Auth" asp-action="GoogleLogin" class="btn-gray"><i class="fab fa-google"></i>Google</a>
                    <a asp-controller="Auth" asp-action="FacebookLogin" class="btn-gray"><i class="fab fa-facebook-f"></i>Facebook</a>
                </div>
            </div>
        </form>


    </div>

</section>
@await Html.PartialAsync("~/Views/Shared/_validationScriptPartial.cshtml")