@inject SignInManager<UserEntity> _signInManager





<header class="@((ViewContext.RouteData.Values["Action"]!.ToString() == "Contact") ? "contact" : "standard")">

    <div class="container">
        <a id="logo" asp-controller="Home" asp-action="Index"><img src="~/images/full-siliconlogo.svg" alt="Silicon logo"></a>

        <div id="menu">
            <nav>
                @if (_signInManager.IsSignedIn(User))
                {
                    <a class="menu-link" asp-controller="Home" asp-action="Index" asp-fragment="showcase">Overview </a>
                    <a class="menu-link" asp-controller="Courses" asp-action="Index">Courses </a>
                    <a class="menu-link" asp-controller="Home" asp-action="Contact">Contacts </a>
                }
                else
                {
                    <a class="menu-link" asp-controller="Home" asp-action="Index" asp-fragment="showcase">Overview </a>
                    <a class="menu-link" asp-controller="Home" asp-action="Index" asp-fragment="benefits">Features </a>
                    <a class="menu-link" asp-controller="Home" asp-action="Contact">Contacts </a>
                }
            </nav>
        </div>

        <div class="btn-switch">
            <span>Light</span>
            <label class="switch" for="switch">
                <input type="checkbox" id="switch" />
                <div class="slider round"></div>
            </label>
            <span>Dark</span>
        </div>
        <div class="account-buttons">
            @if (_signInManager.IsSignedIn(User))
            {
                <div class="profile-avatar">
                    <div class="dropdown">
                        <button onclick="toggleDropdown()" class="dropdown-toggle" aria-haspopup="true" aria-expanded="false">
                            <img src="~/images/profileAvatar.svg" alt="User Image" />
                        </button>
                        <div id="profileDropdownMenu" class="dropdown-menu" style="display: none;">
                            <a asp-controller="Account" asp-action="Index" class="dropdown-item btn-theme"><i class="fa-regular fa-gear"></i>Details</a>
                            <a asp-controller="Account" asp-action="Security" class="dropdown-item btn-theme"><i class="fa-regular fa-lock"></i>Security</a>
                            <a asp-controller="Account" asp-action="SavedItems" class="dropdown-item btn-theme"><i class="fa-light fa-bookmark"></i>Saved Courses</a>
                            <div class="dropdown-divider"></div>
                            <a class="dropdown-item btn-theme" asp-controller="Account" asp-action="LogOut"><i class="fa-light fa-right-from-bracket"></i>Sign Out</a>
                        </div>
                    </div>
                </div>
            }
            else
            {
                <a asp-controller="Auth" asp-action="SignIn" class="btn-gray"><i class="fa-regular fa-arrow-right-to-bracket"></i>Sign in</a>
                <a asp-controller="Auth" asp-action="SignUp" class="btn-theme"><i class="fa-regular fa-user"></i>Sign up</a>
            }

        </div>
        <div class="btn-mobile">
            <button class="btn" id="mobile-menu-btn" aria-controls="btn-switch"><i class="fa-solid fa-bars"></i></button>
        </div>

    </div>
    <div id="mobile-menu" class="open" aria-expanded="false">

        <div class="btn-switch">
            <span>Light</span>
            <label class="switch" for="switch">
                <input type="checkbox" id="switch" role="switch" />
                <div class="slider round"></div>
            </label>
            <span>Dark</span>
        </div>

        <div class="account-buttons">
            @if (_signInManager.IsSignedIn(User))
            {
                <a asp-controller="Account" asp-action="LogOut" class="btn-theme"><i class="fa-regular fa-arrow-right-from-bracket"></i>Log Out</a>
            }
            else
            {
                <a asp-controller="Auth" asp-action="SignIn" class="btn-gray"><i class="fa-regular fa-arrow-right-to-bracket"></i>Sign in</a>
                <a asp-controller="Auth" asp-action="SignUp" class="btn-theme"><i class="fa-regular fa-user"></i>Sign up</a>
            }
        </div>

        <nav>
            @if (_signInManager.IsSignedIn(User))
            {
                <a class="menu-link" asp-controller="Home" asp-action="Index" asp-fragment="showcase">Overview </a>
                <a class="menu-link" asp-controller="Courses" asp-action="Index">Courses </a>
                <a class="menu-link" asp-controller="Home" asp-action="Contact">Contacts </a>
            }
            else
            {
                <a class="menu-link" asp-controller="Home" asp-action="Index" asp-fragment="showcase">Overview </a>
                <a class="menu-link" asp-controller="Home" asp-action="Index" asp-fragment="benefits">Features </a>
                <a class="menu-link" asp-controller="Home" asp-action="Contact">Contacts </a>
            }
        </nav>

    </div>

</header>

@await Html.PartialAsync("~/Views/Shared/_profileAvatarPartial.cshtml")