@inject SignInManager<UserEntity> _signInManager





<header class="@((ViewContext.RouteData.Values["Action"]!.ToString() == "Contact") ? "contact" : "standard")">

    <div class="container">
        <a id="logo" asp-controller="Home" asp-action="Index"><img src="~/images/full-siliconlogo.svg" alt="Silicon logo"></a>

        <div id="menu">
            <nav>
                @if (_signInManager.IsSignedIn(User))
                {
                    <a class="menu-link" asp-controller="Home" asp-action="Index" asp-fragment="showcase">Overview </a>
                    <a class="menu-link" asp-controller="Courses" asp-action="Index">Courses </a>
                    <a class="menu-link" asp-controller="Home" asp-action="Contact">Contacts </a>
                }
                else
                {
                    <a class="menu-link" asp-controller="Home" asp-action="Index" asp-fragment="showcase">Overview </a>
                    <a class="menu-link" asp-controller="Home" asp-action="Index" asp-fragment="benefits">Features </a>
                    <a class="menu-link" asp-controller="Home" asp-action="Contact">Contacts </a>
                }
            </nav>
        </div>

        <div class="btn-switch">
            <span>Light</span>
            <label class="switch" for="switch">
                <input type="checkbox" id="switch" />
                <div class="slider round"></div>
            </label>
            <span>Dark</span>
        </div>
        <div class="account-buttons">
            @if (_signInManager.IsSignedIn(User))
            {
                <a asp-controller="Account" asp-action="LogOut" class="btn-theme"><i class="fa-regular fa-arrow-right-from-bracket"></i>Log Out</a>
            }
            else
            {
                <a asp-controller="Auth" asp-action="SignIn" class="btn-gray"><i class="fa-regular fa-arrow-right-to-bracket"></i>Sign in</a>
                <a asp-controller="Auth" asp-action="SignUp" class="btn-theme"><i class="fa-regular fa-user"></i>Sign up</a>
            }

        </div>
        <div class="btn-mobile">
            <button class="btn" id="mobile-menu-btn" aria-controls="btn-switch"><i class="fa-solid fa-bars"></i></button>
        </div>

    </div>
    <div id="mobile-menu" class="open" aria-expanded="false">

        <div class="btn-switch">
            <span>Light</span>
            <label class="switch" for="switch">
                <input type="checkbox" id="switch" role="switch" />
                <div class="slider round"></div>
            </label>
            <span>Dark</span>
        </div>

        <div class="account-buttons">
            @if (_signInManager.IsSignedIn(User))
            {
                <a asp-controller="Account" asp-action="LogOut" class="btn-theme"><i class="fa-regular fa-arrow-right-from-bracket"></i>Log Out</a>
            }
            else
            {
                <a asp-controller="Auth" asp-action="SignIn" class="btn-gray"><i class="fa-regular fa-arrow-right-to-bracket"></i>Sign in</a>
                <a asp-controller="Auth" asp-action="SignUp" class="btn-theme"><i class="fa-regular fa-user"></i>Sign up</a>
            }
        </div>

        <nav>
            @if (_signInManager.IsSignedIn(User))
            {
                <a class="menu-link" asp-controller="Home" asp-action="Index" asp-fragment="showcase">Overview </a>
                <a class="menu-link" asp-controller="Courses" asp-action="Index">Courses </a>
                <a class="menu-link" asp-controller="Home" asp-action="Contact">Contacts </a>
            }
            else
            {
                <a class="menu-link" asp-controller="Home" asp-action="Index" asp-fragment="showcase">Overview </a>
                <a class="menu-link" asp-controller="Home" asp-action="Index" asp-fragment="benefits">Features </a>
                <a class="menu-link" asp-controller="Home" asp-action="Contact">Contacts </a>
            }
        </nav>

    </div>

</header>