


<section id="work-with-us">
    <div class="container">
        <div class="content-left">
            <p>Ready to get started?</p>
            <h1>Take Your <span>Skills</span> to the Next Level</h1>
            <a href="#" class="btn-theme-s">Work with us</a>
        </div>

        <div class="content-right">
            <a href="/" id="workWithUs">


            </a>
        </div>
    </div>
</section>