<section id="apps">
    <div class="section-apps">
        <div class="container">
            <div class="apps-image">
                <img src="images\HomeImages\Apps\AppsImage.svg">
            </div>
            <div class="apps-content">
                <h1 class="gray-900">Download Our App for Any Devices:</h1>

                <div class="apps-info">
                    <p class="store gray-600">App Store</p>
                    <div class="stars">
                        <i class="fa-sharp fa-solid fa-star"></i>
                        <i class="fa-sharp fa-solid fa-star"></i>
                        <i class="fa-sharp fa-solid fa-star"></i>
                        <i class="fa-sharp fa-solid fa-star"></i>
                        <i class="fa-sharp fa-solid fa-star"></i>
                    </div>
                    <h2 class="h4">Editor´s Choice</h2>
                    <p class="rating gray-700">rating 4.7, 187K+ reviews</p>
                    <a href="https://www.apple.com/se/app-store/" target="_blank"><img src="images\HomeImages\Apps\appstoreImage.svg"></a>

                </div>
                <div class="apps-info">
                    <p class="store gray-600">Google Play</p>
                    <div class="stars">
                        <i class="fa-sharp fa-solid fa-star"></i>
                        <i class="fa-sharp fa-solid fa-star"></i>
                        <i class="fa-sharp fa-solid fa-star"></i>
                        <i class="fa-sharp fa-solid fa-star"></i>
                        <i class="fa-sharp fa-solid fa-star"></i>
                    </div>
                    <h2 class="h4">App of the Day</h2>
                    <p class="rating gray-700">rating 4.8, 30K+ reviews</p>
                    <a href="https://play.google.com/store/games?device=windows&pli=1" target="_blank"><img src="images\HomeImages\Apps\googleplayImge.svg"></a>

                </div>
            </div>
        </div>
    </div>

</section>