<section id="benefits">
    <div class="section-benefits">
        <div class="container">
            <div class="heading">
                <h1 class="gray-900 h1">What Do You Get with Our Tool?</h1>
                <p class="gray-600 text-lg">Make sure all your tasks are organized so you can set the priorities and focus on important.</p>
            </div>

            <div class="benefit-grid shadow-m">
                <div class="benefit-card">
                    <div class="card-image">
                        <img src="images\HomeImages\Benefits\icon_1.svg">
                    </div>

                    <div class="card-content">
                        <h2 class="h5 gray-900">Comments on Tasks</h2>
                        <p class="gray-700"> Id mollis consectetur congue egestas egestas suspendisse blandit justo.</p>
                    </div>
                </div>


                <div class="benefit-card">

                    <div class="card-image">
                        <img src="images\HomeImages\Benefits\icon_2.svg">
                    </div>

                    <div class="card-content">
                        <h2 class="h5 gray-900">Tasks Analytics</h2>
                        <p class="gray-700">Non imperdiet facilisis nulla tellus Morbi scelerisque eget adipiscing vulputate.</p>
                    </div>
                </div>


                <div class="benefit-card">


                    <div class="card-image">
                        <img src="images\HomeImages\Benefits\icon_3.svg">
                    </div>

                    <div class="card-content">
                        <h2 class="h5 gray-900">Multiple Assignees</h2>
                        <p class="gray-700"> A elementum, imperdiet enim, pretium etiam facilisi in aenean quam mauris.</p>
                    </div>

                </div>


                <div class="benefit-card">

                    <div class="card-image">
                        <img src="images\HomeImages\Benefits\icon_4.svg">
                    </div>

                    <div class="card-content">
                        <h2 class="h5 gray-900">Notifications</h2>
                        <p class="gray-700"> Diam, suspendisse velit cras ac. Lobortis diam volutpat, eget pellentesque viverra.</p>
                    </div>
                </div>
                <div class="benefit-card">

                    <div class="card-image">
                        <img src="images\HomeImages\Benefits\icon_5.svg">
                    </div>


                    <div class="card-content">
                        <h2 class="h5 gray-900">Sections & Subtasks</h2>
                        <p class="gray-700"> Mi feugiat hac id in. Sit elit placerat lacus nibh lorem ridiculus lectus.</p>
                    </div>
                </div>

                <div class="benefit-card">


                    <div class="card-image">
                        <img src="images\HomeImages\Benefits\icon_6.svg">
                    </div>

                    <div class="card-content">
                        <h2 class="h5 gray-900">Data Security</h2>
                        <p class="gray-700"> Aliquam malesuada neque eget elit nulla vestibulum nunc cras.</p>
                    </div>
                </div>

            </div>
        </div>
    </div>

</section>