<section id="showcase">
    <div class="section-showcase">
        <div class="container">
            <div class="left-side">
                <h1 class="gray-900 d4">Task Management Assistant You Gonna Love</h1>
                <p class="gray-700 text-lg">We offer you a new generation of task management system. Plan, manage & track all your tasks in one flexible tool.</p>
                <button class="btn-theme theme-shadow text-m">Get started for free</button>
                <h2 class="h6">Largest companies use our tool to work efficiently</h2>
                <div class="brands">
                    <div class="brand-logo">
                        <img src="images\HomeImages\Showcase\brand_1.svg" alt="Brand 1">
                        <img src="images\HomeImages\Showcase\brand_2.svg" alt="Brand 2">
                        <img src="images\HomeImages\Showcase\brand_3.svg" alt="Brand 3">
                        <img src="images\HomeImages\Showcase\brand_4.svg" alt="Brand 4">
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="bg-image">
        <img src="images\HomeImages\Showcase\showcaseLargeImage.svg" alt="showcase image">

    </div>
</section>