<section id="subscribe">
    <div class="section-subscribe">
        <div class="container">
            <div class="heading">
                <h1 class="gray-900">Don't Want to Miss Anything?</h1>
                <img src="images\HomeImages\subscribe\arrows.svg" alt="subscribe arrows">
            </div>
            <div class="newsletter">
                <h2 class="h5">Sign up for Newsletters</h2>

                <div class="checkboxes">
                    <div class="checkbox">
                        <input type="checkbox" name="daily">
                        <p class="gray-700 text-s">Daily Newsletter</p>
                    </div>
                    <div class="checkbox">
                        <input type="checkbox" name="advertising">
                        <p class="gray-700 text-s">Advertising Updates</p>
                    </div>
                    <div class="checkbox">
                        <input type="checkbox" name="week">
                        <p class="gray-700 text-s">Week in Review</p>
                    </div>
                    <div class="checkbox">
                        <input type="checkbox" name="event">
                        <p class="gray-700 text-s">Event Updates</p>
                    </div>
                    <div class="checkbox">
                        <input type="checkbox" name="startup">
                        <p class="gray-700 text-s">Startups Weekly</p>
                    </div>
                    <div class="checkbox">
                        <input type="checkbox" name="podcast">
                        <p class="gray-700 text-s">Podcast</p>
                    </div>
                </div>
            </div>

            <div class="subscribe-form">
                <!-- <i class="fa-light fa-envelope"></i> -->

                <div class="input-terms">
                    <input type="email" name="email" placeholder="Your Email">
                    <p class="gray-600 text-s">* Yes, I agree to the <a href="#">terms</a> and <a href="#">privacy policy.</a></p>
                </div>
                <button class="btn-theme text-s">Subscribe</button>
            </div>




        </div>
</section>
