@model SubscribeViewModel;



<section id="subscribe">
    <a id="subscribe-action"></a>
    <div class="section-subscribe">
        <div class="container">
            <div class="heading">
                <h1 class="gray-900">Don't Want to Miss Anything?</h1>
                <img src="images\HomeImages\subscribe\arrows.svg" alt="subscribe arrows">
            </div>

            <div class="newsletter">
                <h2 class="h5">Sign up for Newsletters</h2>

                <form class="subscribe" asp-controller="Home" asp-action="Subscribe" method="post">
                    <div class="checkboxes">
                        <div class="checkbox">
                            <input asp-for="SubscribeEmail!.DailyNewsletter">
                            <label asp-for="SubscribeEmail!.DailyNewsletter"></label>
                        </div>
                        <div class="checkbox">
                            <input asp-for="SubscribeEmail!.AdvertisingUpdates">
                            <label asp-for="SubscribeEmail!.AdvertisingUpdates"></label>
                        </div>
                        <div class="checkbox">
                            <input asp-for="SubscribeEmail!.WeekinReview">
                            <label asp-for="SubscribeEmail!.WeekinReview"></label>
                        </div>
                        <div class="checkbox">
                            <input asp-for="SubscribeEmail!.EventUpdates">
                            <label asp-for="SubscribeEmail!.EventUpdates"></label>
                        </div>
                        <div class="checkbox">
                            <input asp-for="SubscribeEmail!.StartupsWeekly">
                            <label asp-for="SubscribeEmail!.StartupsWeekly"></label>
                        </div>
                        <div class="checkbox">
                            <input asp-for="SubscribeEmail!.Podcasts">
                            <label asp-for="SubscribeEmail!.Podcasts"></label>
                        </div>
                    </div>


                    <div class="subscribe-form">


                        <div class="input-terms">
                            <i class="fa-light fa-envelope"></i>
                            <div id="form-email" class="input-group">

                                <span asp-validation-for="SubscribeEmail!.Email"></span>
                                <input asp-for="SubscribeEmail!.Email" />
                            </div>
                            <p class="gray-600 text-s">* Yes, I agree to the <a href="#">terms</a> and <a href="#">privacy policy.</a></p>
                            <p class="gray-600 text-xs">**Don't want to get anymore news from us? <a asp-controller="Home" asp-action="Unsubscribe">Unsubscribe here.</a></p>
                            @if (!string.IsNullOrEmpty(TempData["StatusFail"]?.ToString()))
                            {
                                <div class="alert">
                                    @TempData["StatusFail"]
                                </div>
                            }
                            
                            @if (!string.IsNullOrEmpty(TempData["Status"]?.ToString()))
                            {
                                <div class="success">
                                    @TempData["Status"]
                                </div>
                            }
                        </div>
                        <button type="submit" class="btn-theme text-s">Subscribe</button>
                    </div>
                </form>
            </div>

        </div>
    </div>
</section>
@await Html.PartialAsync("~/Views/Shared/_validationScriptPartial.cshtml");
