<section id="tools">
    <div class="section-tools">
        <div class="container">
            <h1>Integrate Top Work Tools</h1>
            <p class="gray-600 text-lg">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Proin volutpat mollis egestas. Nam luctus facilisis ultrices. Pellentesque volutpat ligula est. Mattis fermentum, at nec lacus.</p>

            <div class="tools-grid">

                <div class="tools-box">
                    <img src="images\HomeImages\Tools\toolsImage_1.svg">
                    <p class="gray-700 text-m">Lorem magnis pretium sed curabitur nunc facilisi nunc cursus sagittis.</p>

                </div>

                <div class="tools-box">
                    <img src="images\HomeImages\Tools\toolsImage_2.svg">
                    <p class="gray-700 text-m">In eget a mauris quis. Tortor dui tempus quis integer est sit natoque placerat dolor.</p>

                </div>

                <div class="tools-box">
                    <img src="images\HomeImages\Tools\toolsImage_3.svg">
                    <p class="gray-700 text-m">Id mollis consectetur congue egestas egestas suspendisse blandit justo.</p>

                </div>

                <div class="tools-box">
                    <img src="images\HomeImages\Tools\toolsImage_4.svg">
                    <p class="gray-700 text-m">Rutrum interdum tortor, sed at nulla. A cursus bibendum elit purus cras praesent.</p>

                </div>

                <div class="tools-box">
                    <img src="images\HomeImages\Tools\toolsImage_5.svg">
                    <p class="gray-700 text-m">Congue pellentesque amet, viverra curabitur quam diam scelerisque fermentum urna.</p>

                </div>

                <div class="tools-box">
                    <img src="images\HomeImages\Tools\toolsImage_6.svg">
                    <p class="gray-700 text-m">A elementum, imperdiet enim, pretium etiam facilisi in aenean quam mauris.</p>

                </div>

                <div class="tools-box">
                    <img src="images\HomeImages\Tools\toolsImage_7.svg">
                    <p class="gray-700 text-m">Ut in turpis consequat odio diam lectus elementum. Est faucibus blandit platea.</p>

                </div>

                <div class="tools-box">
                    <img src="images\HomeImages\Tools\toolsImage_8.svg">
                    <p class="gray-700 text-m">Faucibus cursus maecenas lorem cursus nibh. Sociis sit risus id. Sit facilisis dolor arcu.</p>

                </div>
            </div>
        </div>
    </div>
</section>