<section id="work">
    <div class="section-work">
        <div class="container">
            <div class="work-image">
                <img src="images\HomeImages\Content\ContentImage.svg">
            </div>
            <div class="work-content">

                <h1 class="h2">Manage Your Work</h1>

                <div class="text">
                    <i class="fa-light fa-circle-check"></i>
                    <p class="gray-700 text-m">Powerful project management</p>
                </div>

                <div class="text">
                    <i class="fa-light fa-circle-check"></i>
                    <p class="gray-700 text-m">Transparent work management</p>
                </div>

                <div class="text">
                    <i class="fa-light fa-circle-check"></i>
                    <p class="gray-700 text-m">Manage work & focus on the most important tasks</p>
                </div>

                <div class="text">
                    <i class="fa-light fa-circle-check"></i>
                    <p class="gray-700 text-m">Track your progress with interactive charts</p>
                </div>

                <div class="text">
                    <i class="fa-light fa-circle-check"></i>
                    <p class="gray-700 text-m">Easiest way to track time spent on tasks</p>
                </div>

                <button class="btn-theme text-s">Learn more<i class="fa-regular fa-arrow-right"></i></button>
            </div>
        </div>
    </div>

</section>